<component name="ArtifactManager">
  <artifact type="war" name="SpringSecityTest:war">
    <output-path>$PROJECT_DIR$/SpringSecityTest/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringSecityTest</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringSecityTest-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringSecityTest:war exploded" />
    </root>
  </artifact>
</component>